/*=========================================
            NAVIGATION
=========================================*/

.navbar{

    width:90%;

    max-width:1400px;

    height:90px;

    margin:30px auto;

    padding:0 35px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    background:rgba(18,22,33,.45);

    backdrop-filter:blur(25px);

    -webkit-backdrop-filter:blur(25px);

    border:1px solid rgba(212,175,55,.25);

    border-radius:32px;

    box-shadow:
    0 12px 35px rgba(0,0,0,.45);

}

.logo{

    display:flex;

    align-items:center;

    gap:18px;

}

.logo img{

    width:52px;

}

.logo h2{

    font-size:28px;

    font-weight:600;

    letter-spacing:2px;

}

.logo-main{

    color:#F5F5F5;

}

.logo-tech{

    color:#D4AF37;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:45px;

}

.nav-links a{

    color:#F5F5F5;

    text-decoration:none;

    font-size:18px;

    transition:.35s;

    position:relative;

}

.nav-links a:hover{

    color:#D4AF37;

}

.nav-links a.active{

    color:#D4AF37;

}

.nav-links a::after{

    content:"";

    position:absolute;

    left:50%;

    bottom:-12px;

    width:0;

    height:2px;

    background:#D4AF37;

    transform:translateX(-50%);

    transition:.35s;

}

.nav-links a:hover::after,

.nav-links a.active::after{

    width:100%;

}

.btn-primary{

    text-decoration:none;

    background:linear-gradient(135deg,#E8C35A,#C9962E);

    color:#111;

    padding:16px 34px;

    border-radius:18px;

    font-weight:700;

    transition:.35s;

    box-shadow:0 0 25px rgba(212,175,55,.18);

}

.btn-primary:hover{

    transform:translateY(-2px);

    box-shadow:0 10px 30px rgba(212,175,55,.35);

}
